div.bhoechie-tab-container {
    z-index: 10;
    background-color: #ffffff;
    margin-top: 20px;
}

div.bhoechie-tab-menu {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

div.bhoechie-tab-menu div.list-group {
    margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group > a {
    margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group > a .glyphicon,
div.bhoechie-tab-menu div.list-group > a .fa {
    color: #5A55A3;
}

div.bhoechie-tab-menu div.list-group > a:first-child {
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group > a:last-child {
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group > a.active,
div.bhoechie-tab-menu div.list-group > a.active .glyphicon,
div.bhoechie-tab-menu div.list-group > a.active .fa {
    background-color: #5A55A3;
    color: #ffffff;
}

div.bhoechie-tab-menu div.list-group > a.active:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #5A55A3;
}

div.bhoechie-tab-content {
    background-color: #ffffff;
    padding-left: 20px;
    padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
    display: none;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 5% auto !important;
    }
}

.list-group > a > h4 {
        padding-left: 12px;
    }

@media (min-width: 320px) {
    .list-group > a > h4 {
        font-size: 15px !important;
    }

    .disptitles {
        font-weight: 600;
        font-size: 12px;
        text-align:center !important;
    }

    .list-group-item {
        padding: 10px !important;
    }
}

.panel-uploads {
    border: 1px solid #ddd;
    background-color: #e7e7f5;
    border-radius: 6px;
}

.file-input {
    padding-right: 2%;
    padding-bottom: 5%;
    padding-top: 1%;
}

.file-preview {
    margin-bottom: 24px !important;
}

.kv-file-zoom {
    display: none;
}

.titlesbar {
    padding: 0% 0% 0.8%;
    border-bottom: 3px double #6668c0;
    margin-bottom: .5%;
}

.shadow {
    box-shadow: 0 5px 15px rgb(191, 193, 255);
    margin: auto;
}
.maindiv {
    padding:2% 0%;
}